/* 内容区 */
main {
    flex: 1;
    overflow: auto;
    display: flex;
    justify-content: center;
}

article {
    width: 1000px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 {
    text-align: center;
    margin: 40px;
}

h3 {
    text-align: right;
    margin: 40px;
}

p {
    text-indent: 2em;
    line-height: 3;
    margin: 40px;
}

h4 {
    text-align: right;
    margin: 40px;
}