main {
    flex: 1;
    overflow: auto;
}

/* 上 */
.top {
    width: 1000px;
    background-color: #fff;
    margin: 10px auto;
    border-radius: 4px;
}

.background {
    height: 140px;
    background-color: #8a8a8a;
}

.main {
    height: 150px;
    background-color: #fff;
    display: flex;
}

.main img {
    width: 140px;
    height: 140px;
    position: relative;
    bottom: 50px;
    left: 30px;
    border: 4px solid #fff;
    border-radius: 4px;
}

.info {
    flex: 1;
    padding: 16px 60px;
}

.info h2,
.info h3 {
    color: #121212;
    margin-bottom: 10px;
}

/* 下 */
.bottom {
    width: 1000px;
    background-color: #fff;
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 4px;
}

form {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

form input[type="text"] {
    width: 600px;
    outline: none;
    padding: 14px 10px;
    border-radius: 5px;
    border: 1px solid rgba(5, 109, 232, 0.5);
    font-size: 15px;
}

textarea {
    outline: none;
    padding: 14px 10px;
    border-radius: 5px;
    border: 1px solid rgba(5, 109, 232, 0.5);
    font-size: 20px;
}

form input[type="submit"],
form input[type="reset"] {
    width: 350px;
    padding: 10px;
    border: none;
    background-color: rgb(116, 151, 255);
    border-radius: 6px;
}