<nav><!-- 导航栏 -->

    <a class="logo" href="#">后台管理</a><!-- Logo区域 -->

    <ul class="nav-list"><!-- 列表区域 -->

        <li class="a"><a href="./index.php">后台首页</a></li>
        <li class="b"><a href="./content.php">内容管理</a></li>
        <li class="c"><a href="./add.php">添加文章</a></li>
        <li class="d"><a href="./user.php">用户管理</a></li>
        <li class="e"><a href="#">链接管理</a></li>
        <li class="f"><a href="#">用户设置</a></li>
        <li class="g"><a href="#">后台设置</a></li>

    </ul>

    <div class="user"><!-- 管理员 -->
        <img src="../img/back.png" alt="">
        <a href="../index.php">退出</a>
    </div>

</nav>