.content {
    width: 1400px;
    height: 750px;
    margin: 50px auto;

    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 16px;

    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}

.content a {
    color: #60dd68;
    font-size: 40px;
}