<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/back/nav.css">
    <link rel="stylesheet" href="../css/back/index.css">
</head>

<body>
    <nav><!-- 导航栏 -->

        <a class="logo" href="#">后台管理</a><!-- Logo区域 -->

        <ul class="nav-list"><!-- 列表区域 -->

            <li class="a"><a href="#">后台首页</a></li>
            <li class="b"><a href="#">内容管理</a></li>
            <li class="c"><a href="#">分类管理</a></li>
            <li class="d"><a href="#">用户管理</a></li>
            <li class="e"><a href="#">链接管理</a></li>
            <li class="f"><a href="#">用户设置</a></li>
            <li class="g"><a href="#">后台设置</a></li>

        </ul>

        <div class="user"><!-- 管理员 -->
            <img src="../img/back.png" alt="">
            <a href="">退出</a>
        </div>

    </nav>


    <div class="content"><!-- 内容区域 -->

    </div>


</body>

</html>