<div class="nav"><!-- 导航栏 -->

    <div class="logo"><!-- Logo区域 -->
        <a href="//www.zyhnb.top">信条</a>
    </div>

    <ul class="nav-list"><!-- 列表区域 -->

        <li class="index"><a href="//zyhnb.top">首页</a></li>
        <li class="repository"><a href="//zyhnb.top/php/repository.php">知识库</a></li>
        <li class="AI"><a href="//zyhnb.top/php/AI.php">AI助手</a></li>
        <li class="shuqian"><a href="//zyhnb.top/php/shuqian.php">书签分享</a></li>

    </ul>

    <div class="search"><!-- 搜索区域 -->

        <input type="text" class="search-input" placeholder="   搜索你感兴趣的内容..." />
        <button class="search-button">搜索</button>

    </div>

    <div class="dropdown"><!-- 用户区域 -->
        <button class="dropbtn">🐧</button>
        <div class="dropdown-content">
            <a href="#">登录/注册</a>
            <a href="#">内容管理</a>
            <a href="#">退出登录</a>
        </div>
    </div>

</div>