<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>书签地球</title>
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/nav.css" />
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="../css/media.css">
</head>

<body class="shuqian">
    <div class="nav"><!-- 导航栏 -->

        <div class="logo"><!-- Logo区域 -->
            <a href="//www.zyhnb.top">信条</a>
        </div>

        <ul class="nav-list"><!-- 列表区域 -->

            <li class="index"><a href="//zyhnb.top">首页</a></li>
            <li class="repository"><a href="//zyhnb.top/view/repository.html">知识库</a></li>
            <li class="AI"><a href="//zyhnb.top/view/AI.html">AI助手</a></li>
            <li class="shuqian"><a href="//zyhnb.top/view/shuqian.html">书签分享</a></li>

        </ul>

        <div class="search"><!-- 搜索区域 -->

            <input type="text" class="search-input" placeholder="   搜索你感兴趣的内容..." />
            <button class="search-button">搜索</button>

        </div>

        <div class="dropdown"><!-- 用户区域 -->
            <button class="dropbtn">🐧</button>
            <div class="dropdown-content">
                <a href="#">登录/注册</a>
                <a href="#">内容管理</a>
                <a href="#">退出登录</a>
            </div>
        </div>

    </div>

</body>

</html>